cairocffi==1.1.0
cffi==1.13.2
ConfTools==1.9.9
cycler==0.10.0
dataclasses==0.7
decorator==4.4.1
docutils==0.15.2
future==0.18.2
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.4
opencv-python==4.1.1.26
Pillow==6.2.1
pkg-resources==0.0.0
PyContracts==1.8.12
pycparser==2.19
pyparsing==2.4.5
python-dateutil==2.8.1
PyYAML==5.1.2
reprep==3.0.0
six==1.13.0
tqdm==4.38.0
